@tailwind base;
@tailwind components;
@tailwind utilities;

@layer reset, base, tokens, recipes, utilities;

.gradient-text {
  background-image: linear-gradient(90deg, #ef4444, #a855f7, #1d4ed8);
  gradientto: right;
  background-clip: text;
  color: transparent;
}
